
<%= stylesheet_link_tag "article_index_page" %>
<%= stylesheet_link_tag "pagination" %>
<div class="d-flex justify-content-center">
  <div class="d-block">
    <h1 class="mx-5">Articles</h1>
  </div>
</div>

<%= render "shared/pagination", obj: @articles%>
<%@articles.each do |a|%>
  <%= render "card", article: a%>
<% end %>
<%= render "shared/pagination", obj: @articles%>

