<div class="d-flex justify-content-center">
  <h1 class="text_center">Article</h1>
</div>

<div class="card article-card">
  <div class="card-header d-flex justify-content-center align-items-center">
    <div class="me-2">BY <%= @article.user.username%></div> 
    <div><%=gravitar_for(@article.user, size: 50)%></div>
  </div>
  <div class="card-body p-5">
    <h3 class="card-title text-success text-center"><%= @article.title%></h3>
    <p class="card-text text-start"><%= simple_format(@article.description)%></p>
    <div class="text-center">
        <%= link_to "Back", articles_path, class: "btn btn-secondary"%>
           <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-info"%>
            <%= link_to "Delete", article_path(@article), method: :deltete, data:{turbo_method: :delete, turbo_confirm: "Do you really want to delete this article?"}, class: "btn btn-danger"%>
          <%end%>
    </div>
  </div>
  <div class="card-footer text-body-secondary">
    created <%= extract_hours_from_date(@article.created_at)  %> Hours ago  , edited <%= extract_hours_from_date(@article.updated_at) %> hours ago
  </div>
</div>